*{
    /*remove gaps*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:  14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    position: relative;
    background-color: #202D58 ; 
    color: #ffffff;
}

.page-wrapper{
    font-family: 'Montserrat', sans-serif;
    background-color: #202D58;
    color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-wrapper .preview{
    background-color: #202D58;
    border: 1px solid #849CF8 ;
    height: 20vh;
    width: 30vw;  
}

.customization-grid{
    width: 65%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto;
    background-color: #202D58;
    padding: 30px;
    margin: 10px;
    opacity: 0.8;
    border-radius: 5px;
}
.control-wrapper{
    background-color: #54649C;
    box-shadow: #202D58 10px 10px;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    font-weight: 800;
    align-items: center;
    align-content: center;
}

h3{
    border: solid 2px #849CF8 ;
    border-radius: 10px;
    text-align: center;  
}